{% extends 'social/layout.html' %}

{% block title %}Index{% endblock %}
{% block body %}
    <a href="{% url 'social:create' %}">Create post</a>
    {% for post in posts %}
    <div style="padding-top: 30px;">
        <h2>{{post.header}}</h2>
        <p>{{ post.text }}</p>
        <p><a href="{% url 'social:like_unlike' post.id %}">Like</a> {{ post.likes_count }}</p>
        <p>Posted by: {{ post.author.username }} at {{ post.creation_date.date }}</p>
    </div>
    {% endfor %}

{% endblock %}