{% extends 'social/layout.html' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <form action="{% url 'social:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
    Don't have an account? <a href="{% url 'social:register' %}">Register here.</a>

{% endblock %}