{% extends 'social/layout.html' %}

{% block body %}
<form action="{% url 'social:register' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email Address">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password">
    </div>
    <input class="btn btn-primary" type="submit" value="Register">
</form>

Already have an account? <a href="{% url 'social:login' %}">Log In here.</a>
{% endblock %}